language: node_js
node_js:
  - '8'
  - '7'
cache:
  directories:
    - $HOME/.npm
    - node_modules
before_install:
  - 'npm install --global npm'
before_script:
  - 'npm prune'
script:
  - 'npm test -- --coverage'
  - 'npm run lint'
  - 'npm run lint-format'
  - 'npm run build'
after_success:
  - codecov
